<h1>作品一覧</h1>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>作成者</th>
      <th>URL</th>
<!--
      <th>Content</th>
      <th></th>
      <th></th>
      <th></th>
-->
    </tr>
  </thead>

  <tbody>
    <% @works.each do |work| %>
      <tr>
		<%
			if work.title != ""
				title = work.title
			else
				title = "Non Title"
			end
		%>
        <td><%= link_to title, work %></td>
		<%
			if work.user_id
				user = work.user_id
			else
				user = "you"
			end
		%>
        <td><%= link_to uid2uname(user), uid2url(user) %></td>
        <td><%= link_to work.url, work.url %></td>
<!--
        <td><%= link_to work.content, work %></td>
        <td><%= link_to 'Show', work %></td>
        <td><%= link_to 'Edit', edit_work_path(work) %></td>
        <td><%= link_to 'Destroy', work, method: :delete, data: { confirm: 'Are you sure?' } %></td>
-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '投稿', new_work_path %>
