<p id="notice"><%= notice %></p>

<h1>
  <strong>タイトル:</strong>
  <%= @work.title %>

  <strong>投稿者:</strong>
	<%
		if @work.user_id
			@user = @work.user_id
		else
			@user = "you"
		end
	%>
  <%= link_to uid2uname(@user), uid2url(@user) %>
</h1>

<p>
  <strong>URL:</strong>
  <%= link_to @work.url,@work.url %>
</p>

<p>
  <strong>内容:</strong>
  <%= @work.content %>
</p>

<%= link_to '編集', edit_work_path(@work) %> |
<%= link_to '一覧', works_path %> |
<%= link_to '削除', @work, method: :delete, data: { confirm: 'Are you sure?' } %>
