<p id="notice"><%= notice %></p>

<h1>
  <strong>タイトル:</strong>
  <%= @post.title %>

  <strong>投稿者:</strong>
	<%
		if @post.user_id
			@user = @post.user_id
		else
			@user = "you"
		end
	%>
  <%= link_to @user, "/" %>	
</h1>

<p>
  <strong>内容:</strong>
  <%= @post.content %>
</p>

<h2>コメント</h2>
<ul>

<% if @post.comments.any? %>

	<% if @dir == "next" %>
		<% @instruct=">" %>
		<% @c = Comment.find_by_sql("SELECT * FROM comments WHERE post_id = " + @post.id.to_s + " AND id " + @instruct + " " + @num.to_s + " LIMIT 10") %>
	<% end %>
	<% if @dir == "back" %>
		<% @instruct="<" %>
		<% @c = Comment.find_by_sql("SELECT * FROM comments WHERE post_id = " + @post.id.to_s + " AND id " + @instruct + "= " + @num.to_s + " LIMIT 10") %>
	<% end %>
	<% if @dir == "none" %>
		<% @c = Comment.find_by_sql("SELECT * FROM comments WHERE post_id = " + @post.id.to_s + " LIMIT 10") %>
	<% end %>

	<% unless @c.blank? %>

		<% @c.each do |comment| %>
			<ul>
				<li id="comment_<%= comment.id %>"><%= comment.content %>
					<%= link_to '削除', [comment.post, comment], :confirm => 'Realy?', :method => :delete, :remote => true %>
				</li>
			</ul>
		<% end %>

	<% end %>
<!--
	<% @d = Comment.find_by_sql("SELECT * FROM comments WHERE post_id = " + @post.id.to_s + " AND id <= " + @num.to_s + " LIMIT 10") %>
	<% unless @d.blank? %>
		<% if @c.blank? %>
			<%= link_to "前へ", dir: "back" , num: @num %>
		<% end %>
		<% if @c.blank? %>
			<% @d = Comment.find_by_sql("SELECT * FROM comments WHERE post_id = " + @post.id.to_s + " AND id > " + @num.to_s + " LIMIT 10") %>
			<% unless @d.blank? %>
				<%= link_to "次へ", dir: "next" , num: 0 %>
			<% end %>
		<% end %>
	<% end %>
-->
	<% unless @c.blank? %>
		<% user = User.find_by_sql("SELECT * FROM comments WHERE post_id = " + @post.id.to_s + " AND id < " + @c[0].id.to_s + " LIMIT 10") %>
		<% unless user.blank? %>
			<%= link_to "前へ", dir: "back" , num: @c[0].id %>
		<% end %>
		<% user = User.find_by_sql("SELECT * FROM comments WHERE post_id = " + @post.id.to_s + " AND id > " + @c[0].id.to_s + " LIMIT 10") %>
		<% unless user.count < 10 %>
			<%= link_to "次へ", dir: "next" , num: @c[@c.count-1].id %>
		<% end %>
	<% end %>
<% else %>
	<li>コメントはありません。</li>
<% end %>
</ul>

<h2>コメント投稿</h2>

<%= form_for([@post, @comment]) do |f| %>

	<% if @comment.errors.any? %>
		<ul>
			<% @comment.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	<% end %>
<!--
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
-->
<!--
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :post_id %><br>
    <%= f.text_field :post_id %>
  </div>
-->
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<%= link_to '編集', edit_post_path(@post) %> |
<%= link_to '一覧', posts_path %> |
<%= link_to '削除', @post, method: :delete, data: { confirm: 'Are you sure?' } %>

<script type="text/javascript">
$(function() {
	$(document).on('ajax:success', 'a[data-method="delete"]', function(e, data, status, xhr){
		$('#comment_'+data.comment.id).fadeOut("slow");
	});
});
</script>
