<%
  def uid2link(uid)
    if uid == nil
      "?"
    else
      link_to(uid2uname(uid), uid2url(uid))
    end
  end

  def uid2uname(uid)
    if uid == nil
      "?"
    else
      User.find_by(:id => uid).username
    end
  end

  def uid2url(uid)
    "/profile/"+uid.to_s
  end

  def auto_shrink(str, len, suf="", is_tagged_suf=false)
    if str.length > len
      if is_tagged_suf
        (str[0..len+1] + suf).html_safe
      else
        str[0..len+1] + suf
      end
    else
      str
    end
  end
%>
<!DOCTYPE html>
<html>
<head>
  <title>KvContributor</title>
  <%= stylesheet_link_tag    "text", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<div id="header">
  <div id="headerimg"><p id='msg'>KosenVentureContributor</p></div>
  <% if user_signed_in? %>
  <%=
    if current_user.username == nil
      "noname"+"("+current_user.email+")"
    else
      current_user.username+"("+current_user.email+")"
    end
  %> でログイン中

  <%= link_to "ユーザー情報変更",edit_user_registration_path %>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  <% else %>
  ログインしていません
  <%= link_to "ログイン", new_user_session_path %>
  <% end %>
  <hr />
</div>
<body>
<p><%= notice %></p>
<p><%= alert %></p>

<%= yield %>

</body>
<footer>
  <hr />
  <%= link_to "ぽすと",posts_path %> <br />
  <%= link_to "わーく",works_path %> <br />
  <%= link_to "じぶん","/my" %> <br />
  <%= link_to "とっぷ",root_path %> <br />
</footer>
</html>
